# requirements.txt

# Streamlit for creating interactive web applications
streamlit==0.90.0

# Pandas for data manipulation and analysis
pandas==1.3.3

# yfinance for fetching financial data from Yahoo Finance
yfinance==0.1.64

# NumPy for numerical operations
numpy==1.21.2

# pandas_datareader for fetching financial data from various sources
pandas-datareader==0.11.0

# datetime for handling dates and times
DateTime==4.3

